.app__header{
    background-color: var(--clr1);
    padding: 10px 5px ;
  }
  /*  Search bar */
  
  #citysearch{
    padding: 25px 10px;
    background-color: var(--clr1);
    border:none;
    margin:0  30px;
    font-size: x-large;
    color: var(--clr3);
    width: fit-content;
  }
  #citysearch:focus{
    outline: none;
    border-bottom: 2px solid var(--clr0);
    margin-bottom: -2px;
    border-radius: 3px;
  
  }
  #citysearch::placeholder{
    color: lightgrey;;
    font-size: larger;
  }
  .find{
    padding: 15px;
    font-size: x-large;
    background-color: var(--clr0);
    border: none;
    color: var(--clr4);
    border-radius: 2px;
    margin: 0  30px;
  }
  @media  screen and (max-width:1300px){
    .app__header form{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #citysearch{
      width: fit-content;
    }
  }
  @media  screen and (max-width:768px){
    .app__header form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #citysearch{
      width: 80%;
      padding: 5px;
    }
    .find{
      margin-top: 10px;
      width: 80%;
      padding: 5px;
      content: "";
    }}