.weather-over {
    grid-row:auto;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
  }
  .weather_pertime{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1fr;
  }
  .weather_pertime>*{
    margin: 15px;
  }
  .weather_pertime>h2{
    font-weight: lighter;;
  }
  .weather_data{
    font-weight: normal;
    word-spacing: 2px;
  }
  .weather_type{
    color: var(--clr3);
  }
  @media  screen and (max-width:1300px){
    .weather-over{
      grid-template-columns: repeat(4,1fr);
      margin-left: 2px;
    }
    .weather_pertime{
      grid-column: 1fr;
  }
  
  }
  @media  screen and (max-width:768px){
    .weather_pertime{
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-column: 1/8;
      justify-content: center;
      margin-left: 40px;
    }
    .weather_data{
      display: block;
    }
    .weather-over{
      width: 90%;
      margin-left: 2px;
    }
    .weather-over *{
      border-bottom: var(--clr0);
    }
  }